/* Utilidades */
:root {
    --primario:rgb(20, 83, 81);
    --primarioClaro: rgb(44, 188, 164);
    --secundarioClaro:  rgb(220, 163, 21);
    --secundario:  rgb(105, 42, 0);
    --secundarioOscuro: rgb(63, 45, 0);
}
.activo {
    color: var(--secundarioClaro);
}

/* Navegacion Superior */
.navegacion {
    justify-content: center;
    height: auto!important;
    margin-left: 0px!important;
}
.menu_barra {
    transition: all .6s ease;
}
.menu_barra a {
    margin-left: 1rem;
}
@media (min-width: 375px) {
    .menu_barra a {
        margin-left: 0;
    }
}
@media (min-width: 768px) {
    .menu_barra {
        display: none;
    }
}
.texto_logo {
    color: var(--secundarioClaro);
    font-weight: bold!important;
}

.navegacion_center {
    justify-content: center!important;
    margin-left: 4rem;
}
@media (min-width: 768px) {
    .navegacion_center {
        margin-left: 0;
    }
}
.icono {
    text-align: center center;
    height: auto!important;
    padding: 0;
    padding-left: 0!important;
}
@media (min-width: 768px) {
    .icono {
        margin: 0 1rem;
    }
}
.icono i {
    font-size: 1.5rem;
}
.navegacion_right {
    right: 0;
    float: right;
    justify-content: right!important;
    text-align: right!important;
    align-items: flex-end;
}
.navegacion_right li a {
    text-align: center center;
    height: auto!important;
}

/* Sidebar */
.main_sidebar_left {
    margin-top: 60px;
    margin-left: 0;
}
.sidebar_left {
    margin-top: 0!important;
}
.controls {
    width: 13rem;
    height: 2rem;
}

/* Contenido Principal */
.contenido_principal {
    float: right;
    width: 100%;
}
@media (min-width: 768px) {
    .contenido_principal {
        float: right;
        width: 75%;
    }
}
@media (min-width: 998px) {
    .contenido_principal {
        float: left;
    }
}

.social {
    padding-top: 2rem;
    justify-content: center;
}

/* Chat */
.chat {
    position: fixed;
    bottom: -1rem;
    right: 0rem;
    min-width: 15rem;
}
@media (min-width: 998px) {
    .chat {
        min-width: 20rem;
    }
}